<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <!-- Please do not distribute, sell, or make copies of this software. Katie Liu 2018 -->
        <title>Neshama Therapy Receipt Generation - By Katie Liu</title>
        <meta name="description" content="Generate and email word document acupuncture/RMT receipts to your patients">
        <link href="https://pbs.twimg.com/profile_images/378800000652606043/136eab010b71b52b3bf7ea1e26c366ba_400x400.png" rel="icon">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">

    </head>
    <body>
        <div class="container m-top">
            
        